<h2>Objetive</h2>

Provides Unit test to Drupal Modules unsing PHPUnit. This modules provides a custom
runner to run PHPUnit test in Drupal.  Also include some features to mock functions using the test_helper extension created
by Sebastian Bergman.

Actually is tested in Drupal 6 only, we will include support for Drupal 7 also in the future.

<h2>Instalation</h2>

Previous to the module instalation you need to have installed PHPUnit, Xdebug and Test_Helpers
extension.

In order to install PHPUnit do the following steps

<code>
  pear channel-discover pear.phpunit.de
  pear channel-discover components.ez.no
  pear channel-discover pear.symfony-project.com
  pear upgrade PEAR
  pear install phpunit/PHPUnit
</code>

Install Xdebug in Debian (or debians likes).

  <code>apt-get install php5-xdebug</code>

Install Test Helpers

  <code>pecl install phpunit/test_helpers</code>

At the end include the extension in your php.ini

  <code>zend_extension=/path_to_the_extension/test_helpers.so</code>

Test if the extension was loaded

  <code>$php --info|grep "test_helpers support"
  test_helpers support => enabled</code>

Once you have all that installed you can proceed with the instalation of this module as
any drupal module.

Copy the module in some reacheable location by your drupal site.

  <code>drush en phpunit2 -y</code>

This module depends on backup_migrate, so drush will try to download it but you can do it
manually if you want.

<h2>Create some test</h2>

First. You have to know how use PHPUnit, take a look into PHPUnit Documentation.

If you want to create a test for a module you have to create a folder into the root of the module called "unit_test".
Inside of that folder you have to create the phpunit TestCases classes with this convention for the class name.

  <code>{module_name}.{className}.test.php </code>

This module will search in all enabled modules for unit test classes with that pattern and will
try to execute the requested test.

The test must be a class that extends from DrupalPHPUnitTestCase, something like this.

<?php
    class {ModuleName}{ClassName} extends DrupalPHPUnitTestCase {

       public function test<TestName>() {
          .. the test body goes here ..
       }

        .... more tests ..
    }
?>

For more advances techniques for test creation check the PHPUnit Documentation.

<h2>Mocking Functions</h2>

Drupal have a lot of core function, this function are a problem in the Unit testing because is
hard mock them. In order to mock this functions this module uses test_helpers, this extension
allow rename a function, if we rename a function we can replace the original function with a mock.

We included a custom class to make the function mocking and for handle the restore of the mocked
functions after the test.

In order to mock a function, by example drupal_goto, you have to create the function mock first, lets
call to the mock mock_drupal_goto, and after that create a instance of DrupalMockFunction like this.

Create a Mock function

<?php
  function mock_drupal_goto($path = '', $query = NULL,
      $fragment = NULL, $http_response_code = 302)
  {
    ... code a mock ...
  }
?>

In the test method

 <?php
    //Replace the functions
    $mock = new DrupalMockFunction('drupal_goto', 'mock_drupal_goto');

    //... do the test ...

    // Restore the original function.
    $mock->restore();
?>

<h2>Run test</h2>

The test must be lauched with drush, the easy easy way is.

  <code>drush pur</code>

If you need more information

  <code>drush pur -v</code>

If you need to test some specific module

  <code>drush pur -v --modules=module1,module2,module3</code>

If you wan't to backup the database before run the test and recover the db when the test suite finish.

  <code>drush pur -v --backup=y</code>

If you need to get a log of the process

 <code> drush pur -v --outpur=/some/path --json=y --junit=y</code>

<h2>Coverage</h2>

If you need a coverage report

  <code>drush pur -v --outpur=/some/path --coverage=y</code>

<h2>Some Links</h2>

<a href="http://www.phpunit.de/manual/current/en/">http://www.phpunit.de/manual/current/en/
</a>

<a href="https://github.com/sebastianbergmann/php-test-helpers/">https://github.com/sebastianbergmann/php-test-helpers/
</a>

<h2>Last Words</h2>

Thatsit Folks, happy testing. Any problem just post an issue.